<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.yzd.memo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DeepPurpleTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56aae26ce0f55a85ca0022ed" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.IndexActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.CreateLockActivity" />
        <activity android:name=".ui.activity.CheckLockActivity" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.EditActivity" />
        <activity android:name=".ui.activity.FeedBackActivity" />
        <activity android:name=".ui.activity.AboutActivity"></activity>
    </application>

</manifest>
